<div class="carousel">
    <div>Im a carousel</div>
    <div class="container">
        <div class="arrow" id="arrow-left" disabled>left</div>
        <div id="carouselItemContainer"></div>
        <div class="arrow disable" id="arrow-right" disabled>right</div>
    </div>
</div>